.container {
    background-color: aquamarine;
}

.question-box {
    border: 1px solid #383838;
    margin-top: 30px;
}

.selected,
.btn-secondary:hover {
    background-color: #d37979;
    border: none;
    outline: none;
}

.question {
    background-color: #4d3d3d;
    color: white;
    height: 70px;
}

.question p {
    font-size: 1.7rem;
    text-align: center;
}

.show-correct {
    background-color: #4fa54f;
}

.hide {
    display: none;
}

.show {
    display: block;
}


.points-container {
    margin-top: 20px;
}

.points {
    font-size: 22px;
    text-align: center;
    border: solid 3px red;
}
